body {
    background: url('../img/background-1.jpg');
    text-align: center;
    color: #000000;
    margin: 0%;
    padding: 0%;
}



.titleBarClass {
    text-align: right;
    -webkit-app-region: drag;
}



#dirButton {
    display: inline-block;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 15px;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
}

#dirButton:hover {
    background-color: #0C71E0;
    color: #FFFFFF;
    border-radius: 3px;
    border-bottom: 1px solid #0C71E0;
}

#dirButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#dirButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#dirButton:hover span {
    padding-right: 25px;
}

#dirButton:hover span:after {
    opacity: 1;
    right: 0;
}



#closeButton {
    background-color: transparent;
    border: none;
    -webkit-app-region: no-drag;
    margin-right: 10px;
    margin-top: 7px;
}

#closeButton span {
    color: white;
    font-size: 20px;
}

#closeButton span:hover {
    color: gray;
    cursor: pointer;
}

#closeButton:focus {
    outline: none;
}



#minimizeButton {
    background-color: transparent;
    border: none;
    -webkit-app-region: no-drag;
    margin: 0px;
}

#minimizeButton span {
    color: white;
    font-size: 20px;
}

#minimizeButton span:hover {
    color: gray;
    cursor: pointer;
}

#minimizeButton:focus {
    outline: none;
}