#dirbutton {
    display: inline-block;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 15px;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s;
    cursor: pointer;
    outline: none !important;
}

#dirbutton:hover {
    background-color: #0C71E0;
    color: #FFFFFF;
    border-radius: 3px;
    border-bottom: 1px solid #0C71E0;
}

#dirbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#dirbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#dirbutton:hover span {
    padding-right: 25px;
}

#dirbutton:hover span:after {
    opacity: 1;
    right: 0;
}