@font-face {
    font-family: corvinus_skyline;
    src: url('../fonts/Corvinus Skyline ICG.ttf');
}



body {
    background-color: black;
    color: #FFFFFF;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-app-region: no-drag;
}



.titleBarClass {
    -webkit-app-region: drag;
    margin: 1px;
    height: 58px;
}



.content {
    margin: 0;
    height: calc(100% - 60px);
    width: 100%;
    display: inline-block;
    position: absolute;
}



#closeButton {
    background-color: transparent;
    border: none;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 50px;
    float: right;
    transition: 0.5s;
}

#closeButton span {
    color: white;
    font-size: 30px;
    vertical-align: middle;
}

#closeButton:hover {
    color: gray;
    cursor: pointer;
    background-color: red;
}

#closeButton:focus {
    outline:none
}



#maximizeButton {
    background-color: transparent;
    border: none;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 50px;
    float: right;
    transition: 0.5s;
}

#maximizeButton span {
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
}

#maximizeButton:hover {
    color: gray;
    cursor: pointer;
    background-color: gray;
}

#maximizeButton:focus {
    outline: none;
}



#minimizeButton {
    background-color: transparent;
    border: none;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 50px;
    float: right;
    transition: 0.5s;
}

#minimizeButton span {
    color: white;
    font-size: 35px;
}

#minimizeButton:hover {
    color: gray;
    cursor: pointer;
    background-color: gray;
}

#minimizeButton:focus {
    outline: none;
}



#menuLive {
    font-family: corvinus_skyline;
    background-color: transparent;
    -webkit-app-region: no-drag;
    height: 100%;
    border-color: transparent;
    border-left: none;
    border-right: none;
    float: left;
    transition: 0.5s;
}

#menuLive span {
    color: lightgrey;
    font-size: 30px;
    margin: 7px;
    transition: 0.5s;
}

#menuLive:hover {
    border-bottom: 2px solid goldenrod;
    color: white;
    cursor: pointer;   
}

#menuLive:hover span {
    color: white;
}

#menuLive:focus {
    outline: none;
}



#menuDemo {
    font-family: corvinus_skyline;
    background-color: transparent;
    -webkit-app-region: no-drag;
    height: 100%;
    border-color: transparent;
    border-left: none;
    border-right: none;
    float: left;
    transition: 0.5s;
}

#menuDemo span {
    color: lightgrey;
    font-size: 30px;
    margin: 7px;
    transition: 0.5s;
}

#menuDemo:hover {
    border-bottom: 2px solid goldenrod;
    color: white;
    cursor: pointer;   
}

#menuDemo:hover span {
    color: white;
}

#menuDemo:focus {
    outline: none;
}



#menuMisc {
    font-family: corvinus_skyline;
    background-color: transparent;
    -webkit-app-region: no-drag;
    height: 100%;
    border-color: transparent;
    border-left: none;
    border-right: none;
    float: left;
    transition: 0.5s;
}

#menuMisc span {
    color: lightgrey;
    font-size: 30px;
    margin: 7px;
    transition: 0.5s;
}

#menuMisc:hover {
    border-bottom: 2px solid goldenrod;
    color: white;
    cursor: pointer;   
}

#menuMisc:hover span {
    color: white;
}

#menuMisc:focus {
    outline: none;
}