@font-face {
    font-family: corvinus_skyline;
    src: url('../fonts/Corvinus Skyline ICG.ttf');
}

body {
    background-color: black;
    color: #FFFFFF;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-app-region: no-drag;
	font-family: sans-serif;
}

/*

Title bar ============================================================

*/

#titleBar {
    -webkit-app-region: drag;
    margin: 1px;
    height: 58px;
	font-family: corvinus_skyline;
	vertical-align: baseline;
}

/* Close button */

#closeButton {
    background-color: transparent;
    border: none;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 50px;
    float: right;
    transition: 0.5s;
}

#closeButton span {
    color: white;
    font-size: 30px;
    vertical-align: middle;
}

#closeButton:hover {
    color: gray;
    cursor: pointer;
    background-color: red;
}

#closeButton:focus {
    outline: none;
}

/* Maximize button */

/* #maximizeButton {
    background-color: transparent;
    border: none;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 50px;
    float: right;
    transition: 0.5s;
}

#maximizeButton span {
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#maximizeButton:hover {
    color: gray;
    cursor: pointer;
    background-color: gray;
}

#maximizeButton:focus {
    outline: none;
} */

/* Minimize button */

#minimizeButton {
    background-color: transparent;
    border: none;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 50px;
    float: right;
    transition: 0.5s;
}

#minimizeButton span {
    color: white;
    font-size: 35px;
}

#minimizeButton:hover {
    color: gray;
    cursor: pointer;
    background-color: gray;
}

#minimizeButton:focus {
    outline: none;
}

/* Live button */

#menuLiveButton {
    font-family: corvinus_skyline;
    background-color: transparent;
    -webkit-app-region: no-drag;
    height: 100%;
    border-color: transparent;
    border-left: none;
    border-right: none;
    float: left;
    transition: 0.5s;
}

#menuLiveButton:hover {
    border-bottom: 2px solid goldenrod;
    color: white;
    cursor: pointer;
}

#menuLiveButton span {
    color: lightgrey;
    font-size: 30px;
    margin: 7px;
    transition: 0.5s;
}

#menuLiveButton:hover span {
    color: white;
}

#menuLiveButton:focus {
    outline: none;
}

/* Demo button */

#menuDemoButton {
    font-family: corvinus_skyline;
    background-color: transparent;
    -webkit-app-region: no-drag;
    height: 100%;
    border-color: transparent;
    border-left: none;
    border-right: none;
    float: left;
    transition: 0.5s;
}

#menuDemoButton:hover {
    border-bottom: 2px solid goldenrod;
    color: white;
    cursor: pointer;
}

#menuDemoButton span {
    color: lightgrey;
    font-size: 30px;
    margin: 7px;
    transition: 0.5s;
}

#menuDemoButton:hover span {
    color: white;
}

#menuDemoButton:focus {
    outline: none;
}

/* Misc button */

#menuMiscButton {
    font-family: corvinus_skyline;
    background-color: transparent;
    -webkit-app-region: no-drag;
    height: 100%;
    border-color: transparent;
    border-left: none;
    border-right: none;
    float: left;
    transition: 0.5s;
}

#menuMiscButton:hover {
    border-bottom: 2px solid goldenrod;
    color: white;
    cursor: pointer;
}

#menuMiscButton:hover span {
    color: white;
}

#menuMiscButton:focus {
    outline: none;
}

#menuMiscButton span {
    color: lightgrey;
    font-size: 30px;
    margin: 7px;
    transition: 0.5s;
}

/* Live button */

#menuLiveButton {
    font-family: corvinus_skyline;
    background-color: transparent;
    -webkit-app-region: no-drag;
    height: 100%;
    border-color: transparent;
    border-left: none;
    border-right: none;
    float: left;
    transition: 0.5s;
}

#menuLiveButton:hover {
    border-bottom: 2px solid goldenrod;
    color: white;
    cursor: pointer;
}

#menuLiveButton span {
    color: lightgrey;
    font-size: 30px;
    margin: 7px;
    transition: 0.5s;
}

#menuLiveButton:hover span {
    color: white;
}

#menuLiveButton:focus {
    outline: none;
}

/* Add button */

#addButton {
    background-color: transparent;
    border: solid white 2px;
    -webkit-app-region: no-drag;
    height: 36px;
    width: auto;
    float: right;
    transition: 0.5s;
	margin-top: 11px;
	margin-right: 30px;
	border-radius: 7px;
}

#addButton span {
    color: white;
    font-size: 17px;
    vertical-align: middle;
	margin: 10px;
}

#addButton:hover {
    background-color: gray;
    cursor: pointer;
}

#addButton:focus {
    outline: none;
}

/* Main content */

#content {
    margin: 0;
    height: calc(100% - 60px);
    width: calc(100%);
    display: inline-block;
    position: absolute;
	background-color: red;
}

